<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile {{ student }}</title>
</head>
<body style="background-color: wheat">
<div style="margin: auto;
                margin-top: 100px;
                width: 300px">
        <h3 style="color: green">Name and Surname: {{ student }}</h3>
        <h3 style="color: green">Age: {{ student.age }}</h3>
        <h3 style="color: green">Course: {{ student.course }}</h3>
        <h3 style="color: green">Instrument: {{ student.instrument }}</h3>
        <h3 style="color: green">Performance: {{ student.performance }}</h3>
        <h3 style="color: green">Has paid: {{ student.has_paid }}</h3>

</div>


</body>
</html>